
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 子要素のabsoluteを基準に */

  background: linear-gradient(to bottom, #87ceeb, #b0e0e6);
  position: relative;
}

.canvas-wrapper {
  position: relative;
}

.canvas {
  border: 2px solid black;
  position: absolute;
  z-index: 1;
  top: 0;
}

.bodyPixOverlay {
  position: absolute;
  top: 0px;
  left: 200;
  width: 450;
  height: 337.5;
  z-index: 2;
  pointer-events: none;
}

.restartButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  padding: 10px 20px;
  z-index: 10;
  cursor: pointer;
  background-color: #facc15;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.restartButton:hover {
  background-color: #eab308;
}

/* 空 */
.sky {
  background: linear-gradient(to bottom, #87ceeb, #b0e0e6);
  height: 70%;
  width: 100%;
  position: relative;
}

/* 雲 */
.cloud {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
  animation: float 30s linear infinite;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

.cloud1 {
  width: 100px;
  height: 60px;
  top: 40px;
  left: 10%;
  animation-delay: 0s;
}

.cloud1::before {
  width: 60px;
  height: 60px;
  left: -30px;
  top: 10px;
}

.cloud1::after {
  width: 80px;
  height: 50px;
  left: 60px;
  top: 20px;
}

.cloud2 {
  width: 120px;
  height: 70px;
  top: 100px;
  left: 60%;
  animation-delay: 10s;
}

.cloud3 {
  width: 90px;
  height: 55px;
  top: 180px;
  left: 30%;
  animation-delay: 20s;
}

@keyframes float {
  0% { transform: translateX(-200px); }
  100% { transform: translateX(120vw); }
}